/* Larger screen sizes 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 3000px) {
  /* Default styles */
  body, ul, li {
    margin: 0;
    padding: 0;
    /* list-style: none; */
    /* font-family: 'Cabin', sans-serif;  */
    font-family: 'Lexend', sans-serif;
  }

  ul {
    padding-left: 20px; /* Thụt đầu dòng */
    list-style-position: outside;
  }

  ul ul {
    padding-left: 30px; /* Mỗi cấp thụt thêm */
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse; 
  }

  th, td {
    padding: 10px;
    /* text-align: center; */
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    width: 100px; /* Chiều rộng cố định */
    height: 250px; /* Chiều cao cố định */
  }

  th {
    width: 250px; /* Chiều rộng cố định cho tiêu đề */
  }

  /* Stupid text */
  /* Hide on both laptop and mobile */
  .text0{ 
    visibility: hidden;
  }

  /* Display on laptop but hide on mobile */
  .text01{ 
    visibility: hidden;
    display: block;
  }

  /* Display on mobile but hide on laptop */
  .text02 { 
    display: none;
  }

  .text7{
    font-size: 12px;
    visibility: hidden;
  }


  /* Index.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  
  /* Top bar style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .top-bar {
    background-color: #7D7; /* Màu xanh lá */
    color: white;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .top-bar .hotline, .top-bar .contact-info {
    display: flex;
    align-items: center;
  }

  .make_it_fade {
    opacity: 40%;
  }

  
  /* Header style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .main-header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0px;
  }

  .desktop-menu{
    list-style: none;
    display: block;
  }
  
  .main-header .logo img {
    margin-top: 5px;
    height: 72px; /* Kích thước logo */
  }
  
  .main-header .menu ul {
    display: flex;
    gap: 20px;
  }
  
  .main-header .menu ul li a {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    padding: 28px 10px;
  }

  .make-it-green{
    color: #7D7;
  }
  
  .main-header .menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #7D7; /* Đổi màu khi hover */
  }

  .mobile-menu{
    display: none;
  }

  .modal {
    display: none;
  }


  /* Contact boxes style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .contact-boxes {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
  }
  
  .contact-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    font-size: 37px;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .contact-boxes .zalo-box {
    background-color: #88c451;
  }
  
  .contact-boxes .facebook-box {
    background-color: #1877f2;
  }
  
  .contact-boxes .hotline-box {
    background-color: #28a745;
  }
  
  .contact-boxes .box:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s ease;
  }


  /* Brief description style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  #my-section {
    background-image: url('./Image/condaotoihon.webp');
    position: absolute;
    top: 10;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lexend', sans-serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    filter: blur(0px);
    display: block;
  }

  .custom-button {
    background-color: transparent; /* Nền trong suốt */
    border: 2px solid white; /* Viền trắng */
    color: white; /* Màu chữ trắng */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px; /* Làm tròn góc */
    cursor: pointer; /* Thay đổi con trỏ chuột khi di chuột qua */
    transition: all 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
  }

  .custom-button:hover {
    transform: scale(1.2);
  }

  .set-max-width h1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: auto;
    filter: blur(0px);
    text-shadow: 2px 2px 4px #000000;
  }

  .make-it-yellow{
    color: rgba(255,200, 11, 255);
  }


  /* Some available bikes style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .background{
    background-color:rgb(235, 235, 235);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .mois-title{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: bold;
    color: rgba(255,200, 11, 255);
    filter: blur(0px);
    text-shadow: 1px 1px 1px #000000;
  }

  .slider-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 76%;
  }

  .my-hr{
    width: 150px;
    height: 4px;
    background-color: rgba(255,200, 11, 255);
    margin-left: 0px;
    margin-bottom: 20px;
    filter: blur(0px);
    text-shadow: 1px 1px 1px #000000;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }

  .slide {
    min-width: 250px; /* Chỉnh kích thước của từng ảnh */
    margin-right: 20px; /* Khoảng cách giữa các ảnh */
    position: relative;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 4px 6px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .slider-controls {
    position: absolute;
    top: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
  }

  .prev-button, .next-button {
    background-color: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
    opacity: 0.5;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .price-color{
    color: black;
  }


  /* Why us style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .why-us {
    background-color: white; /* Example background color */
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .service {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .service h3{
    font-size: 15px;
    color: #7D7;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .three-steps-2{
    display: none;
  }
  
  .three-steps-1{
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .three-steps-1 h1{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: bold;
    color: rgba(255,200, 11, 255);
    filter: blur(0px);
    text-shadow: 1px 1px 1px #000000;
  }

  .three-steps-1 table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .three-steps-1 i{
    font-size: 50px;
    color: rgb(90, 88, 88);
  }


  /* Contact style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .contact{
    padding: 20px;
    background-color: rgb(235, 235, 235);
    /* height: 60vh; */
  }

  .contact .container  {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .contact .container h1 {
    margin-top: 0px;
    font-size: 50px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgba(255,200, 11, 255);
    filter: blur(0px);
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
  }

  .contact .container p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
  }

  .contact .container h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact .form-container hr {
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background: #ddd;
  }

  .contact .container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact .container .form-row {
    display: flex;
    gap: 10px;
    width: 500px;
  }
  
  .contact .container .form-row input {
    flex: 1;
  }
  
  .contact .container input, textarea {
    width: 96%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact .container input:focus, textarea:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  .contact .container textarea {
    resize: vertical;
    font-family: Arial, sans-serif;
  }

  .contain .contain hr{
    color: #000;
  }
  
  .contact .container button {
    padding: 10px;
    background-color: #ff4d4d;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 504px;
  }
  
  .contact .container button:hover {
    background-color: #e63939;
  }

  .contact .container .container .make_it_center {
    display: flex;
    justify-content: center;
    color: white;
  }

  .contact .container td{
    padding: 0px;
    height: 20px;
    text-align: left;
    vertical-align: top;
  }

  .contact .container .make-it-smaller{
    width: 200px;
  }

  .contact .container .self-defined-td{
    padding: 0px;
    height: 20px;
    text-align: left;
    vertical-align: top;
  }

  .contact .container .make-it-smaller{
    width: 200px;
  }


  /* Google map style definition 
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .map-container {
    display: flex;
    justify-content: center;  /* Canh giữa theo chiều ngang */
    align-items: center;      /* Canh giữa theo chiều dọc */
    height: 80vh;            /* Chiều cao của phần tử chứa (100% chiều cao cửa sổ) */
  }

  .google-map {
    width: 80%;   /* Chiều rộng của bản đồ */
    height: 80%;
    border: none; /* Bỏ border nếu có */
  }


  /* Footer style definition  
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .main-footer {
    background-color: rgba(41,41,41,255); /* Example background color */
    padding: 10px;
  }
  
  .main-footer .footer {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-basis: 500px;
    justify-content: center;
    align-items: center;
  }

  .main-footer a {
    color: white;
    text-decoration: none;
  }

  .footer-contact, .footer-about, .footer-logo {
    flex-basis: 350px;
    color: white;
  }  

  .footer {
    /* width: 80%; */
    vertical-align:text-top;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-top: -15px;
  }

  .footer h2{
    color: rgba(255,200, 11, 255);
    font-size: 25px;
  }


  /* Bottom bar style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .bottom-bar {
    background-color: #7D7; /* Màu xanh lá */
    color: white;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    height: 20px;
  }

  .bottom-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    margin-left: 20px;
    font-size: 13px;
  }



  /* policy.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .policy .container-2 {
    display: none;
  }

  .policy .container-1 {
    margin-top: auto;
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .make_it_bigger{
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: auto;
    filter: blur(0px);
    text-shadow: 2px 2px 4px #000000;
  }

  .policy .container-1 .table-top-align {
    position: relative;
    vertical-align: top;
  }

  .policy .container-1 .button-container {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
    flex-direction: column;
  }

  .policy .container-1 .button {
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .policy .container-1 .button:hover {
    background-color: #5ed864;
  }

  .policy .container-1 .smaller-width{
    width: 300px;
    height: 600px;
    margin: 0 auto;
  }

  .policy .container-1 .make_it_go_up{
    margin-top: 5px;
  }

  .policy .container-1 .bigger-width{
    width: 1000px;
    text-align: start;
    margin: 0 auto;
  }

  .policy .container-1 {
    padding: 10px;
  }

  .button-content {
    display: none;
  }

  .text-bigger{
    font-size: 18px;
    line-height: 1.8
  }

  
  /* about.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .about .container {
    max-width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: justify;
  } 

  .no-bullet {
    list-style: none;
  }

  .make_it_grey{
    color: rgb(60, 60, 60);
  }

  .make_it_center1{
    display: flex;
    justify-content: center;
  }

  .make_it_center2{
    display: none;
  }

  
  /* rental.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .main-rental-1{
    background-color:darkgrey;
    margin-top: -10px;
  }

  .main-rental-1 .rental-table{
    width: 100px;
    vertical-align:text-top;
    color: white;
    border-collapse: separate;
    border-spacing: 30px;
    margin: 0 auto;
  }

  .main-rental-1 h3{
    font-size: 25px;
  }

  .main-rental-1 h2{
    font-size: 35px;
    color: rgba(255,200, 11, 255);
  }

  .main-rental-1 h1{
    font-size: 35px;
    color: rgba(255,200, 11, 255);
    text-align: center;
  }

  .main-rental-1 .rental-table .rental-td{
    background-color: white;
    padding: 20px;
  }

  .main-rental-1 .rental-table .rental-td ul{
    line-height: 2;
  }

  .main-rental-1 .rental-table .rental-td:hover{
    background-color: #3adb68;
  }

  .main-rental-2{
    background-color:darkgrey;
  }

  .main-rental-2 .rental-table{
    width: 80%;
    vertical-align: text-top;
    color: white;
    border-collapse: separate;
    border-spacing: 30px;
    margin: 0 auto;
  }

  .main-rental-2 h3{
    font-size: 25px;
  }

  .main-rental-2 h2{
    font-size: 35px;
    color: rgba(255,200, 11, 255);
  }

  .main-rental-2 h1{
    font-size: 35px;
    color: rgba(255,200, 11, 255);
    text-align: center;
  }

  .main-rental-2 .rental-table .rental-td{
    background-color: white;
    padding: 20px;
  }

  .main-rental-2 .rental-table .rental-td ul{
    line-height: 1.25;
  }

  .main-rental-2 .rental-table .rental-td:hover{
    background-color: #3adb68;
  }

  .main-rental-1 {
    display: block;
  }

  .main-rental-2{
    display: none;
  }

  
/* motor.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .rental-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    max-width: 900px;
    gap: 20px;
    margin: 0 auto;
  }

  .image-container img {
    width: 400px;
    border-radius: 10px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .breadcrumb {
    font-size: 12px;
    color: gray;
  }

  .rental-container h1 {
    margin: 10px 0;
  }

  .price {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
  }

  .price span {
    font-size: 16px;
  }

  .features {
    list-style: none;
    padding: 0;
  }

  .features li {
    font-size: 14px;
    margin: 5px 0;
    display: flex;
    align-items: center;
  }

  .features li::before {
    content: "✔";
    color: green;
    margin-right: 8px;
  }
}



/* Medium screen sizes
 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1000px) and (min-width: 720px) {
  .text7{
    display: none;
  }
}

/* Smaller screen sizes
 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media (max-width: 720px) {
  /* Index.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  /* Stupid text */
  /* Hide on both laptop and mobile */
  .text0{ 
    visibility: hidden;
  }

  /* Display on laptop but hide on mobile */
  .text01{ 
    display: none;
  }

  /* Display on mobile but hide on laptop */
  .text02{ 
    visibility: hidden;
    display: block;
  }
  
  
  /* Top bar style definition 
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .top-bar .contact-info{
    display: none;
  }

  .top-bar .hotline{
    margin: 0 auto;
  }
  

  /* Header style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .mobile-menu{
    display: block;
  }

  #menu {
    display: none;
  }
  
  #menu.open {
    display: block;
  }

  .expand-btn {
    background: none;
    border: none;
    color: #3adb68;
    font-size: 40px;
    cursor: pointer;
  }

  .expand-btn:hover {
    color: #7D7;
  }

  .modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Nền mờ */
  }

  .modal-content {
    position: fixed;
    top: 0;
    right: -100%; /* Ban đầu nằm ngoài màn hình */
    width: 230px;
    height: 100%;
    background-color: #fff; /* Màu nền sáng */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ */
    border-top-left-radius: 20px; /* Bo tròn góc trên bên trái */
    border-bottom-left-radius: 20px; /* Bo tròn góc dưới bên trái */
    transition: right 1s ease; /* Thêm thời gian cho chuyển động vào và ra */
    z-index: 1001;
    padding: 20px; /* Khoảng cách bên trong modal */
    font-family: Arial, sans-serif; /* Font chữ đẹp */
    color: #333; /* Màu chữ tối */
  }
  
  .modal-content.slide-in {
    right: 0; /* Trượt vào trong màn hình */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }

  .desktop-menu-when-open {
    list-style: none; /* Ẩn dấu đầu dòng */
    margin: 0;
    padding: 0;
    display: flex; /* Sắp xếp các mục theo hàng ngang */
    flex-direction: column;
  }
  
  .desktop-menu-when-open li a {
    text-decoration: none;
    color: #333;
    padding: 15px;
  }
  
  .desktop-menu-when-open li a:hover {
    background-color: #f0f0f0;
  }

  .navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    line-height: 40px;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
  }


  /* Contact boxes style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .contact-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }


  /* Brief description style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .set-max-width h1{
    font-size: 35px;
  }

  .set-max-width p{
    font-size: 15px;
  }



  /* Slider style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */  
  .mois-title{
    font-size: 30px;
    text-align: center;
  }

  .my-hr{
    margin: 10px auto 35px auto;
    width: 100px;
  }

  .slider-controls{
    top: 55%
  }


  /* Why us style definition
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */  
  .service {
    margin-top: 50px;
    padding: 20px;
    width: 90%;
  }

  .three-steps-1{
    display: none;
  }

  .three-steps-2{
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  .three-steps-2 h1{
    margin-top: 50px;
    margin-bottom: 0px;

    font-size: 30px;
    font-weight: bold;
    color: rgba(255,200, 11, 255);
    filter: blur(0px);
    text-shadow: 1px 1px 1px #000000;
  }

  .three-steps-2 h2{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .three-steps-2 div{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  .three-steps-2 i{
    margin: 0 auto;
    font-size: 50px;
    color: rgb(90, 88, 88);
  }


  /* Form style definition 
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .contact .container h1 {
    font-size: 30px;
  }

  .contact .container p {
    font-size: 15px;
  }

  .contact .container br {
    display: none;
  }

  .contact .container h2 {
    font-size: 1rem;
  }

  .contact .form-container hr {
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background: #ddd;
  }

  .form-container {
    width: 250px;
  }
  
  .contact .container .form-row {
    flex-direction: column;
    width: 250px;
  }
  
  .contact .container input, textarea {
    font-size: 0.9rem;
    width: 230px;
  }

  .contact .container button {
    width: 251px;
  }

  /* Google map style definition 
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .map-container {
    height: 70vh;
  }
  
  .google-map{
    width: 90%;
    height: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  /* Footer style definition  
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .footer {
    font-size: 17px;
  }

  .footer h2{
    margin-top: 0px;
  }

  .footer-logo img{
    width: 100px;
  }

  /* Bottom bar style definition 
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


  /* policy.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  .make_it_bigger{
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: auto;
    filter: blur(0px);
    text-shadow: 2px 2px 4px #000000;
  }

  .policy .container-1 {
    display: none;
  }

  .policy .container-2 {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .policy .container-2 .button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 20px; */
  }

  .policy .container-2 .button {
    padding: 10px 20px;
    margin: 5px;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  @keyframes activeEffect {
    0% {
      background-color: green; /* Màu khi active */
    }
    100% {
      background-color: gray; /* Trả về màu mặc định */
    }
  }

  .policy .container-2 .button:hover {
    background-color: #5ed864;
  }

  .policy .container-2 .smaller-width{
    width: 300px;
  }

  .policy .container-2 .bigger-width{
    width: 1000px;
    text-align: start;
    margin: 0 auto;
  }

  .policy .container-2 {
    padding: 10px;
  }

  .button-content {
    display: none;
  }


   /* about.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .make_it_center1{
    display: none;
  }

  .make_it_center2{
    display: flex;
    justify-content: center;
  }


  /* rental.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  .main-rental-1 {
    display: none;
  }

  .main-rental-2{
    display: block;
  }


  /* motor.html 
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
}